@import '../../theme/colors';
@import '../../theme/shapes';


.header-layout {
    padding: 0% 5%;
}
.body-layout {
    padding:4% 5%;
    background-color: $black-75;
}


.player-content-layout{
    display: grid;
    grid-template-columns: auto 35%;
    gap: 4%;
}

.filter-category-items-layout{

    display: flex;
    grid-template-columns: auto auto 100%;
    gap: 12%;
    flex-wrap: wrap;
}
.filter-layout{
    padding: 32px;
    border: 1px solid $border;
    border-radius: $border-radius2;
    height: max-content;
    background-color: $light;
}
.filter-category-title-layout{
    padding-top: 15px;
    padding-bottom: 10px;
}
.filter-footer-layout {
    padding: 30px 0px ;
    display: flex;
    justify-content: space-between;
}
.admin-content-layout {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5%;
}
.admin-items-layout {
    background-color: $light;
    border: 1px solid #F2F2F2;;
    padding: 32px;
    border-radius: $border-radius2;
    height: min-content;
}
.admin-items-content-layout{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.2% 5%;;
}
.admin-head-wrap-layout{
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions-wrap-layout{
    display: flex;
    padding-bottom: 16px ;
}
.filter-category-layout{
    padding-bottom:32px
}
.modal-items-layout {
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.actiion-container-layout {
    display: flex;
    flex-direction: row;
    gap: 15px;
}